label.autoconfigLabel {
  width: 110px;
  text-align: right;
}

#initialSettings textbox{
	width: 250px;
}

#initialSettings textbox[disabled=true]{
	width: 350px;
}

#obm-autoconf-client-fullspacer{
	min-width: 650px;
}

