---
- name: Deploy opush PostgreSQL permissions
  template: src=03-remote-opush dest={{ datadir }}/pg_hba.d/03-remote-{{ inventory_hostname }}
  delegate_to: "{{ item }}"
  with_items: groups.databaseservers
  notify:
    - Merge PostgreSQL configuration files
  tags:
    - opush
    - pgperms
