---
- name: Merge healthcheck.ini configuration file
  assemble: src=/etc/obm/healthcheck_ini.d dest=/etc/obm/healthcheck.ini backup=yes
  delegate_to: "{{ item }}"
  with_items: groups.uiservers
  tags: spushnik

- name: Fix perms on healthcheck.ini
  file: path=/etc/obm/healthcheck.ini mode=0644
  delegate_to: "{{ item }}"
  with_items: groups.uiservers
  tags: spushnik

- name: Restart Jetty6
  service: name=jetty6 state=restarted
  tags: spushnik

- name: Restart Spushnik
  service: name=spushnik state=restarted
  tags: spushnik
